extends layout

block content
  div
    .row
      div
        .panel.panel-primary
          .panel-heading
            span.glyphicon.glyphicon-comment
            |  Chat
            .btn-group.pull-right
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                span.glyphicon.glyphicon-chevron-down
              ul.dropdown-menu.slidedown
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-refresh
                    | Refresh
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-ok-sign
                    | Available
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-remove
                    | Busy
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-time
                    |                                 Away
                li.divider
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-off
                    |                                 Sign Out
          .panel-body
            ul.chat
          .panel-footer
            form#chatForm
              .input-group
                input#btn-input.form-control.input-sm(type='text', name="inputMessage", placeholder='Type your message here...')
                span.input-group-btn
                  input#btn-chat.btn.btn-warning.btn-sm(type='submit', value='Send')
  script.
    sendGreeting();